---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Cta from "../components/Cta.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<div class="bg-chk-cream flex">
		<Main>
			<Hero />
			<h2 class="text-chk-charcoal text-lg">No panic, you can hit the checklist one by one</h2>
			<div class="flex flex-col md:flex-row flex-wrap gap-6">
				<Card href="checklists/essentials" emoji="ðŸªª" title="essentials"/>
				<Card href="checklists/health" emoji="ðŸ’Š" title="health & safety"/>
				<Card href="checklists/roadtrip" emoji="ðŸ“·" title="electronics & entertainment"/>
				<Card href="checklists/roadtrip" emoji="ðŸ‘•" title="clothing & footwear"/>
				<Card href="checklists/roadtrip" emoji="ðŸ§´" title="toiletries"/>
				<Card href="checklists/roadtrip" emoji="ðŸ•¶ï¸" title="comfort items"/>
				<Card href="checklists/roadtrip" emoji="ðŸ " title="never leave your house unattended"/>
			</div>
			<h2 class="text-chk-charcoal text-lg" id="allLists">Or, just tell us what kind of travel are you planning?</h2>
			<div class="flex flex-col md:flex-row flex-wrap gap-6">
				<Card href="checklists/travel-abroad" emoji="âœˆï¸" title="travel abroad"/>
				<Card href="checklists/roadtrip" emoji="ðŸš—" title="road trip"/>
				<Card href="checklists/roadtrip" emoji="ðŸ–ï¸" title="beach vacation"/>
			</div>
			<Cta />
		</Main>
	</div>
</Layout>
<Footer />
