<div class="text-chk-charcoal flex flex-col gap-4">
  <h2 class="text-3xl font-semibold">Say Hi 👋</h2>
  <p>This is a side project by JGU</p>
  <p>
    If you find Pakupack Traveler's checklist useful, you can buy me a coffee.
    ☕
  </p>
  <p>If you have any feedback, feel free to send me an email. 🙂</p>
</div>
